@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,400&display=swap");
* {
  position: relative;
  padding: 0;
  border: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  font-weight: normal;
  text-decoration: none;
  list-style: none;
  border-collapse: collapse;
  border-spacing: 0;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: default;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
}

input,
textarea {
  cursor: text;
}

a,
a *,
button,
input[type="range"],
input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
iframe,
a,
img,
form,
label,
ul,
ol {
  display: block;
}

p {
  margin-bottom: 0;
}

body {
  width: 100%;
}
